Flask==3.1.0
beautifulsoup4==4.13.4
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
httplib2==0.22.0
psycopg2-binary==2.9.10
requests==2.32.3
twilio==9.5.2